body {
    font-family: 'Poppins', sans-serif;
    background-color: #e8f0fe;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

h1 {
    color: #1a73e8;
    font-size: 3em; /* Aumentar en mobile */
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    padding: 3em 2em;
    max-width: 450px;
    text-align: center;
    transition: all 0.3s ease;
    margin: 0 auto;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #4285f4;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 500;
    line-height: 1.4;
}

h2 span {
    display: block;
    font-style: italic;
    font-size: 0.9em;
    color: rgb(255, 0, 0);
    margin-top: 0.5em;
}

p {
    font-size: 1.1em;
    color: #444;
    margin-bottom: 2em;
    font-weight: 400;
}

#qrcode {
    margin-top: 2em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

button {
    background-color: #1a73e8;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1.5em;
}

button:hover {
    background-color: #1558b1;
}

.murialdo {
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
    font-weight: 600;
    color: black;
}

.himno {
    text-align: center;
    font-size: 25px;
    margin: 70px;
    font-weight: 400;
    line-height: 2; /* Aumenta la altura de las líneas */
    padding: 20px 0; /* Añade espacio arriba y abajo del párrafo */
    max-width: 1000px; /* Controla el ancho máximo si es necesario */
    margin-inline: 500px;

}




@media (max-width: 500px) {
    body {
        padding: 15px;
    }

    .container {
        width: 100%;
        padding: 2.5em; 
    }

    h1 {
        font-size: 2.8em; 
    }

    h2 {
        font-size: 1.5em; /* Aumentar el tamaño de h2 */
    }

    p {
        font-size: 1.3em; 
    }

    button {
        width: 100%;
        padding: 15px; 
        font-size: 1.2em; 
    }

    #qrcode {
        max-width: 100%; /* Asegurarse de que el QR no exceda el ancho */
        margin-top: 1.5em; /* Reducir el espacio superior en mobile */
    }
}

/* Media Query para pantallas grandes */
@media (min-width: 1024px) {
    .container {
        max-width: 500px;
        padding: 4em;
    }

    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.2em;
    }
}